/* 후후, 개발자 도구로 꿀 빨려고? 바가야로, 
이 과제의 진정한 의미는, 너희들이 개발자 
도구를 얼마나 잘 쓸 수 있는지 알아보기 
위함이였다! 축하한다 닝겐! */

body {
	margin: 0;
	text-align: center;
}

.introduction {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #cdffeb;
	width: 100%;
}

#profilePic {
	width: 200px;
	display: block;
	position: relative;
	float: none;
	border-radius: 50%;
	margin: auto;
}

#hi {
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	color: #009f9d;
	margin-top: 20px;
	margin-bottom: 20px;
}

#name {
	margin-top: 0px;
	color: #009f9d;
	font-family: 'Josefin Sans', sans-serif;
}

.content {
	min-height: 10px;
	position: relative;
}

.about {
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
	margin: 5% 20% 5% 20%;
}

#more {
	color: #009f9d;
}

#info {
	font-size: 20px;
	line-height: 30px;
}

#mybutton {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 50%;
	margin:auto;
}

#mybutton:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
  }

.footer {
	margin-top: 100px;
	width: 100%;
	bottom: 0;
	background-color: #66BFBF;
	padding: 50px 0 20px;
	text-align: center;
}

#footer-link {
	color: #11999E;
	font-family: 'Josefin Sans', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}

#copyright {
	color: white;
}